.product_card {
  margin: 8px;
}

.product_card > .card-content-ios,
.card-content-md {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.product_card > .card-content-ios > ion-text > h3 {
  text-align: center;
}
