ion-card.form_card {
  margin-top: 15vh;
}

ion-card.form_card > ion-card-header > ion-img {
  width: 50%;
  margin: auto;
}

ion-card.form_card > ion-card-content > ion-button {
  margin-bottom: 5%;
}
