.user_profile_card {
  margin-top: 25%;
}

.user_profile_card > ion-card-header > ion-avatar {
  margin: auto;
  width: 30vw;
  height: 30vw;
}

.user_profile_card > ion-card-content > ion-button {
  margin-bottom: 5%;
}
